@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500');
/*imports upwards*/

body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #ededed;
}

div {
  padding: 8px;
  /* margin-right:5px; */
  /* margin-top: 10px; */
}

.container {
  background-color: #ffffff;
}

header {
  font-family: inherit;
  position: relative;
  height: 500px;
  /* width: 100%; */
  overflow: hidden;
  /*background-image: linear-gradient( #6bffe4,#084456);*/
}

header h1 {
  font-size: 45px;
  font-weight: 600;
  position: relative;
  color: white;
  text-align: center;
}

header p, h2 {
  font-size: 14px;
  position: relative;
  color: white;
  text-align: center;
}

aside {
  color: gray;
}

.header_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: -ms-linear-gradient( #6bffe4, #084456);
  background-image: -webkit-linear-gradient( #6bffe4, #084456);
  background-image: -moz-linear-gradient( #6bffe4, #084456);
  background-image: -o-linear-gradient( #6bffe4, #084456);
  background-image: linear-gradient( #6bffe4, #084456);
  transform: skewY(15deg);
  transform-origin: bottom right;
}

.header_bg1 {
  position: absolute;
  top: 10;
  bottom: 5;
  right: 10;
  left: 20;
  width: 100%;
  height: 50%;
  background-image: -ms-linear-gradient( #6bffe4, #1ea0b1);
  background-image: -webkit-linear-gradient( #6bffe4, #1ea0b1);
  background-image: -moz-linear-gradient( #6bffe4, #1ea0b1);
  background-image: -o-linear-gradient( #6bffe4, #1ea0b1);
  background-image: linear-gradient( #6bffe4, #1ea0b1);
  transform: skewY(-9deg);
  transform-origin: top left;
}

/* banner body */

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/* end banner body */

/* grid layout starts with roots */

/* Style the input fields */

.custom-button {
  background: rgba(241, 196, 15, 0.9);
  align-self: center;
}

.box-border {
  border: 5px chartreuse;
}

/* .form-group {float: left;} */

.form-info {
  color: gray;
  text-align: right;
}

.item-2 {
  background: chocolate;
}

/* grid layout ends with roots */

.form .form-header {
  font-family: inherit;
  background-color: white;
}

.form-header {
  display: flex;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.card-shadow {
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Form starts -------------------*/

/* Style the form */

.reg-form {
  background-color: #ffffff;
  margin: 50px auto;
  /* padding: 40px; */
  width: 70%;
  min-width: 300px;
}

.form-group-border {
  border-left: 8px solid greenyellow;
}

.form-left-pannel {
  color: #9fa8a3;
  background: #c0dfd9;
}

/* Mark input boxes that gets an error on validation: */

.invalid {
  border-bottom-color: darkred;
  background-color: rgba(246, 0, 0, 0.1);
}

/* Hide all steps by default: */

.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  text-align: center;
  margin-top: 40px;
}

/* Mark the active step: */

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #4CAF50;
}

/*-        --- form ends*/

/*Slider ------------*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba( 175, 96, 26, 0.9);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb( 175, 96, 26, 0.9);
  cursor: pointer;
}

/* Mouse-over effects */

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* end slider */

.item-3 {
  height: 100px;
  width: 100px;
  background: darkorange;
}