@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500');
@import './movie.css';
/*imports upwards*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #ededed;
}
.container {
  background-color: #ffffff;
}

div {
  /* padding: 8px; */
  /* margin-right:5px; */
  /* margin-top: 10px; */
}

header {
  font-family: inherit;
  position: relative;
  height: fit-content;
  /* width: 100%; */
  margin-bottom: 10px;
  overflow: hidden;
  /*background-image: linear-gradient( #084456,#084456);*/
}

header h1 {
  font-size: 50px;
  font-weight: 100;
  position: relative;
  color: white;
  text-align: center;
}

header p, h2 {
  font-size: 14px;
  position: relative;
  color: white;
  /* text-align: center; */
}

aside {
  color: gray;
}

.header_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: -ms-linear-gradient( #084456, #084456);
  background-image: -webkit-linear-gradient( #084456, #084456);
  background-image: -moz-linear-gradient( #084456, #084456);
  background-image: -o-linear-gradient( #084456, #084456);
  background-image: linear-gradient( #084456, #084456);
  transform: skewY(15deg);
  transform-origin: bottom right;
}

.header_bg1 {
  position: absolute;
  top: 10;
  bottom: 5;
  right: 10;
  left: 20;
  width: 100%;
  height: 50%;
  background-image: -ms-linear-gradient( #084456, #1ea0b1);
  background-image: -webkit-linear-gradient( #084456, #1ea0b1);
  background-image: -moz-linear-gradient( #084456, #1ea0b1);
  background-image: -o-linear-gradient( #084456, #1ea0b1);
  background-image: linear-gradient( #084456, #1ea0b1);
  transform: skewY(-9deg);
  transform-origin: top left;
}

/* banner body */

.banner-canvas {
  position: relative;
  z-index: 3;
}
/* end banner body */

/* Style the input fields */

.custom-button {
  background: rgba(3, 175, 190, 0.9);
  align-self: center;
}

.box-spacer {
  width: 100%;
  height:5em;
}
.card.bg-infor{
  background-image: -ms-linear-gradient(  #155e68,#187b88);
  background-image: -webkit-linear-gradient( #155e68,#187b88);
  background-image: -moz-linear-gradient( #155e68,#187b88);
  background-image: -o-linear-gradient( #155e68,#187b88);
  background-image: linear-gradient( #155e68,#187b88);
  /* background: #084456; */

}
.card-shadow {
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
  color: #ffffff;
}
/* Form starts -------------------*/
/* grid layout ends with roots */

form {
  padding: 8px;
}

.form  {
  font-family: inherit;
  background-color: white;
}

.form-header {
  display: flex;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}


/* Style the form */

/* .form-group {float: left;} */



.form-left-pannel {
  color: #ffffff;
  background: #00a5ba;
  text-align: right;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}
.form-info {
  font-size: 1em;
  color:#ffffff;
  text-align: right;
}
.reg-form {
  background-color: #ffffff;
  margin: 0px;
  padding:0px;
  /* width: 70%; */
  /* min-width: 300px; */
}

.form-group-border {
  border-left: 8px solid greenyellow;
}

/* Mark input boxes that gets an error on validation: */

.invalid {
  border-bottom-color: darkred;
  background-color: rgba(246, 0, 0, 0.1);
}

/* Hide all steps by default: */

.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  text-align: center;
  margin-top: 40px;
}

/* Mark the active step: */

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #4CAF50;
}


/*Slider ------------*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba( 23,63,76, 0.9);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb( 23,63,76, 0.9);
  cursor: pointer;
}

/* Mouse-over effects */

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* end slider */
.page-footer{
  color: #ffffff;
/* background: #00565e; */
background-image: -ms-linear-gradient(  #187b88,#155e68);
background-image: -webkit-linear-gradient( -10deg, #187b88,#155e68 7%);
background-image: -moz-linear-gradient(  #187b88,#155e68);
background-image: -o-linear-gradient(  #187b88,#155e68);
background-image: linear-gradient(   #187b88,#155e68);

}
